.MainImageRow {
  background-image: url("./Images/schoolImages/mainimage3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
}

.MissionParagraph {
  text-align: justify;
  color: rgb(126, 5, 5);
  /* color: rgb(210, 210, 210) */
  font-weight: bolder;
  padding-left: 15px;
  padding-right: 15px;
  text-shadow: 0.5px 0px 2px #868282;
}

.VisionMission {
  background-color: rgba(111, 168, 209, 0.5);
}

.AtAGlance {
  color: #08696e;
  text-align: center;
}
.AtAGlance2 {
  color: #08696e;
  text-align: left;
}

.AtAGlance3 {
  color: #08696e;
  text-align: right;
}

.hrGlance {
  margin-left: 200px;
  margin-right: 200px !important;
  margin-top: 0px;
}
.hrGlance2 {
  margin-top: 0px;
}

.PrincipalImage {
  width: 200px;
  height: 200px;
}

.PrincipalMessage {
  text-align: justify !important;
  font-size: 18px !important;
}

.pmsgW {
  font-size: 30px;
  color: #920808;
  font-weight: bold;
  color: #e7f5c5;
}

.DrAyoola {
  background-color: #868282;
  text-align: center;
  font-size: 12px;
  margin: 0px;
  font-family: "Times New Roman";
  padding: 2px;
  font-weight: bold;
  display: block;
}

.Designation {
  text-align: center;
  font-size: 10px;
  background-color: #dadada;
  margin: 0px;
  font-family: "Times New Roman";
  padding: 2px;
  display: block;
}

.WhyChooseParagraph {
  color: #920808;
  font-size: 18px;
}

.FeesTable,
.FeesTable * {
  font-family: "Times New Roman", Times, serif;
}

.NewsImage {
  width: "50px" !important;
  height: "50px" !important;
}

.socialmediaF {
  color: #3904bf;
  font-size: 30px;
}
.socialmediaT {
  color: #5ebdea;
  font-size: 30px;
}
.socialmediaI {
  color: #ea1010;
  font-size: 30px;
}

.HomeImages {
  width: 100% !important;
  height: 250px !important;
  border: 5px solid #fac9c9 !important;
}

.RowSection {
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 768px) {
  .MainImageRow {
    background-image: url("./Images/schoolImages/mainimage_sm_2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
  }

  .MissionParagraph {
    text-align: justify;
    color: rgb(126, 5, 5);
    font-weight: bolder;
    text-shadow: 0.5px 0px 2px #868282;
  }

  .MainImageRow {
    height: 300px;
    width: 100%;
  }

  .PrincipalImage {
    width: 130px;
    height: 100px;
  }

  .hrGlance {
    margin-left: 50px;
    margin-right: 50px !important;
    margin-top: 0px;
    border: solid 1px #820606;
  }

  .colNumRec,
  .colTestimonial,
  .colTheContacts {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  .HomeImages {
    width: 100% !important;
    height: 250px !important;
    border: 5px solid #fac9c9 !important;
  }

  .OverlayBox {
    width: 80%;
    height: 40%;
    margin: auto;
    padding: 0px !important;
    font-size: 12px;
  }
}
