.FootHeader {
  font-weight: bold;
}

.QuickLinks:hover {
  color: #e10505;
}

@media screen and (max-width: 768px) {
  .FootHeader {
    margin-top: 20px !important;
  }

  .QuickLinks,
  .FootHeader {
    display: block;
    margin-left: 50px;
  }
}

@media print {
  .Margin4Print {
    margin: 0px !important;
    padding: 0px !important;
  }

  .Hide4Print {
    display: none !important;
  }
}
