.NewsMonth {
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 0px !important;
  text-align: center !important;
  color: #08696e;
}

.NewsDay {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center !important;
  color: rgb(126, 5, 5);
}

.theLinks {
  color: rgb(126, 5, 5);
}

.NewsTitle {
  font-weight: bold;
  font-size: 22px;
}

.NewsImage {
  width: 400px;
  height: 200px;
}

.NewsDetails {
  text-align: justify !important;
}

@media screen and (max-width: 768px) {
  .NewsImage {
    width: 100% !important;
  }

  .theLinks {
    display: block;
    text-align: right;
  }

  .NewsDetails {
    text-align: justify !important;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
